/* #region commom */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* #endregion common */

/* #region debug */
/* #endregion debug */

/* #region header */
.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}
  
/* #endregion header */

/* #region main */

/* #region tiramisù */
/* #endregion tiramisù */

/* #region socials */
/* #endregion socials */

/* #region cooking classes */
/* #endregion cooking classes */

/* #region presentation */
/* #endregion presentation */

/* #endregion main */

/* #region footer */
/* #endregion footer */



/* #region tablet +768px */
/* #endregion tablet +768px */

/* #region desktop +992px */
/* #endregion desktop +992px */
