:root{
    --main-color: #ff9614;
    --bg-main: #f6f5f3;
}

/* #region commom */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-large{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col-12{
    width: 100%;
}
/* #endregion common */

/* #region debug */
/* #endregion debug */

/* #region header */
header{
    background-color: white;
    padding: 1rem 0;
    text-align: center;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
    font-size: 2rem;
    text-shadow: 2px 2px 3px #333;
}
  
/* #endregion header */

/* #region main */
main{
    background: var(--bg-main);
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
}

/* #region tiramisù */
.tiramisù{
    padding-top: 1rem;
}

.tiramisù-title{
    padding-bottom: 1rem;
}

.sweet-dessert{
    color: grey;
}

.info{
    background-color: white;
    padding: 1rem;
    font-size: 0.7rem;
}
/* #endregion tiramisù */

/* #region socials */
/* #endregion socials */

/* #region cooking classes */
/* #endregion cooking classes */

/* #region presentation */
/* #endregion presentation */

/* #endregion main */

/* #region footer */
/* #endregion footer */



/* #region tablet +768px */
/* #endregion tablet +768px */

/* #region desktop +992px */
/* #endregion desktop +992px */
