:root{
    --main-color: #ff9614;
    --bg-main: #f6f5f3;
    --bg-social-fb:#1f7bf3;
    --bg-social-twitter:#009eff;
    --bg-social-instagram:#e7a8c3;
    --bg-social-pinterest:#e73e4d;
    --bg-social-youtube:#e62222;
}

/* #region commom */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-large{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row-space-around{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-12{
    width: 100%;
}

.text-aligne{
    text-align: center;
}

.col-2{
    width: calc((100%/12)*2);
}

.pad-y{
    padding: 1rem 0rem;
}

/* #endregion common */

/* #region debug */
/* #endregion debug */

/* #region header */
header{
    background-color: white;
    padding: 1rem 0;
    text-align: center;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    color: var(--main-color);
    font-size: 2rem;
    text-shadow: 2px 2px 3px #818181;
}
  
/* #endregion header */

/* #region main */
main{
    background: var(--bg-main);
    font-family: "Montserrat", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
}

/* #region tiramisù */
.tiramisù{
    padding-top: 1rem;
}

.tiramisù-title{
    padding-bottom: 1rem;
}

.sweet-dessert{
    color: grey;
}

.info{
    background-color: white;
    padding: 1rem;
    font-size: 0.7rem;
}
/* #endregion tiramisù */

/* #region socials */
.fa-brands{
    font-size: 0.8rem;
    background-color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 50%;
    box-shadow: 0px 3px 5px #818181;
}

.socials-align{
    text-align: center;
}

.fa-facebook{
    color: var(--bg-social-fb);
}
.fa-twitter{
    color: var(--bg-social-twitter);
}
.fa-instagram{
    color: var(--bg-social-instagram);
}
.fa-pinterest{
    color: var(--bg-social-pinterest);
}
.fa-youtube{
    color: var(--bg-social-youtube);
}

/* .socials{
    text-shadow: 2px 2px 3px #333;
} */
/* #endregion socials */

/* #region cooking classes */
/* #endregion cooking classes */

/* #region presentation */
.presentation{
    font-size: 1.3rem;
}

.bord-bott{
    height: 0.5rem;
    width: 4rem;
    border-bottom: solid 2px var(--main-color);
}

.p-presentation{
    line-height: 1.5rem;
    margin-bottom: 3rem;
}
/* #endregion presentation */

/* #endregion main */

/* #region footer */
/* #endregion footer */



/* #region tablet +768px */
/* #endregion tablet +768px */

/* #region desktop +992px */
/* #endregion desktop +992px */
